@page "/index"
@model AdminPanel.Pages.IndexModel
@{
    ViewData["Title"] = "Backoffice Panel";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Backoffice Panel!</h1>
    <p>You're logged in. Here you can Create, Read, Update and Delete products!</p>
</div>